*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: slategray;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f8f9fa;
    scrollbar-face-color: #cccccc;
    scrollbar-track-color: whitesmoke;
}

.w-full {
    width: 100%;
}

#root {
    width: 100dvw;
    height: 100dvh;
    display: block;

    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    height: -webkit-fill-available;
    justify-content: center;
}

.layer {
    display: none;
}

.section__login {
    width: -webkit-fill-available;
    max-height: calc(100%-2rem);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    >* {
        width: -webkit-fill-available;
    }

    .top {
        .section__login--img {
            width: 100px;
            aspect-ratio: 1/1;
            display: block;
            margin: 0 auto;
        }

        .section__login--title {
            font-size: 2rem;
            font-weight: bold;
            color: black;
            text-align: center;
        }
    }

    .bottom {
        > :is(:first-child) {
            margin-top: .5rem;
        }

        >*+* {
            margin-top: 1rem;
        }
    }
}

@media (min-width: 500px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: -webkit-fill-available;
        justify-content: center;
    }

    .layer {
        display: block;
        background: url("https://hrportal.ipb.ac.id/images/loginhr.svg");
        background-position: center;
        object-fit: cover;
        object-position: center;
    }
}